.titpremier { 
    text-align: center;
    color: hsl(272, 88%, 46%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}

.div1 { 
    width: 200px;
    height: 200px;
    background-color: rgb(170, 137, 224);
}
.div3 { 
    width: 200px;
    height: 200px;
    background-color: rgb(208, 224, 22);
}
.div2 { 
    width: 200px;
    height: 200px;
    background-color: rgb(3, 44, 39);
}
.divmom {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
 }
 .divmom2 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
 }
 .divmom3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
 }
 .divmom4 {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
 }